<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>This is home</h1>
<hr>

Welcome to my demo site!
<hr>
<p>
User: <span sec:authentication="principal.username"></span>
Roles: <span sec:authentication="principal.authorities"></span>
</p>
<hr>
<div sec:authorize="hasRole('MANAGER')">
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (Only for manager peeps)
</p>
</div>

<div sec:authorize="hasRole('ADMIN')">
<p>
    <a th:href="@{/systems}">IT Systems Meeting</a>
    (Only for Admin peeps)
</p>
</div>

<hr>
<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
</body>
</html>