<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="post">

    First Name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last Name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Country:

    <select th:field="*{country}" >
    <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>

    </select>

    <br><br>

    <input type="submit" value="Submit"/>

    <br><br>

    Your Favourite Language:

    <input type="radio" th:field="*{favouriteLang}"
                        th:each="tempLang : ${languages}"
                        th:value="${tempLang}"
                        th:text="${tempLang}"/>

    <br><br>
    OS's that you love:
    <input type="checkbox" th:field="*{lovedOS}"
                           th:each="tempOS : ${ops}"
                           th:value="${tempOS}"
                           th:text="${tempOS}" />
</form>

</body>
</html>